.form-group {
  .form-control {
    &:not([value=""]):not(:focus):not(.is-invalid):not(.is-warning):not(.no-value) {
      border-color: $gray-800;
    }
    &.has-rightAddon {
      padding-right: 40px;
    }
    &.has-leftAddon {
      padding-left: 40px;
    }
  }

  .no-value {
    color: $placeholder-gray !important;
  }
  
  .input-group {
    position: relative !important;

    .input-group-append,
    .input-group-prepend {
      .icon-left-addon {
        position: absolute;
        left: 12px;
        top: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 5;
        
        svg {
          width: 20px;
          height: 20px;
          opacity: 0.9;
        }
      }

      .icon-right-addon {
        position: absolute;
        right: 12px;
        top: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 5;
        svg {
          width: 20px;
          height: 20px;
          opacity: 0.9;
        }
      }

      &.clickable {
        .icon-left-addon,
        .icon-right-addon {
          svg {
            opacity: 0.4;
            cursor: pointer;
            &:hover {
              opacity: 0.9 !important;
            }
          }
        }
      }
    }
  }
}