.table-onidata {
  width: 100%;

  &.min-width-sm {
    min-width: 1000px;
  }

  &.min-width-md {
    min-width: 1250px;
  }

  &.min-width-lg {
    min-width: 1800px;
  }

  &.show-action-column {
    position: unset;
    thead {
      tr {
        position: relative;

        th {
          &.fixed-action {
            position: sticky;
            right: 0px;
            padding: 0px 5px;
            background-color: $container;
          }
        }
      }
    }
    tbody {
      tr {
        position: relative;
        td {
          &.fixed-action {
            position: sticky;
            right: 0px;
            padding: 0px 5px;
            background-color: $white;
            text-align: center;
            
            &::before {
              content: " ";
              background-color: $white;
              height: 100%;
              width: 10px;
              top: 0px;
              left: -10px;
              position: absolute;
              box-shadow: 3px 0 0px 0 rgba(0, 0, 0, 0.13);
            }
          }
        }
      }
    }
  }

  thead {
    font-size: text-size(1);
    font-weight: bold;
    color: $gray-600;

    tr {
      th {
        padding: #{space-size(3)} 5px #{space-size(3)} 25px;
        background-color: transparent;
        border: none !important;
      }
    }
  }

  tbody {
    font-size: text-size(2);
    color: $gray-600;

    tr.has-child-spacer ~ tr.is-child-spacer {
      margin-top: 3px;
    }

    tr.is-child-spacer-opened ~ tr.has-child-spacer {
      margin-top: 13px;
    }

    tr.is-row-child + tr.is-child-spacer {
      margin-top: 0px;
    }

    tr.is-child-spacer-opened + tr.is-row-child {
      &:after {
        content: "";
        position:absolute;
        left: 0px;
        width: calc(100% - calc(#{space-size(3)} * 2));
        height: 1px;
        margin-left: space-size(3);
        background-image: linear-gradient(to right, rgba($black, 0.4) 50%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 10px 1px;
        background-repeat: repeat-x;
      }
    }

    tr.bg-alert-danger + tr {
      box-shadow: 0 3px 3px 0 #{theme-color-level('danger', $alert-bg-level)} !important;
    }

    tr.has-child-open + tr.is-child-spacer-opened + tr.is-row-child {
      &:after {
        content: unset !important;
      }
    }

    tr {
      background-color: $white;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
      height: 60px;

      &.disabled {
        background-color: $white-2;
        box-shadow: unset;
      }

      &.is-spacer {
        background-color: transparent;
        box-shadow: none;
        display: block;
        margin-top: 0px;
        height: fit-content;
 
        &:not(:first-child) {
          margin-top: 10px;
        }
      }

      td {
        padding: 0px 5px 0px 25px;
        border: none;
        vertical-align: middle;

        .avatar {
          width: 35px !important;
          height: 35px !important;
          min-width: 35px !important;
          min-height: 35px !important;

          &:hover {
            border: unset;
            transition: unset;
          }
        }

        &:last-child {
          padding-right: 15px;
        }

        > .btn {
          padding-top: 0px;
          padding-bottom: 0px;

          > svg, > svg {
            cursor: pointer;
            fill: $gray-100;
            transition: fill .2s ease;
          }
        }

        &:hover {
          > .btn > svg, > svg {
            fill: $gray-300;
          }
        }
      }
    }

    .table-company-name {
      color: $green;
      border: solid 1px $green;
      font-size: 12px;
      border-radius: 5px;
      padding: 8px 7px;
    }
  }
}


.toast-overlay{
  @include create-overlay($table-overlay-zindex)
}

.table {
  td {
    vertical-align: middle;
  }
}

.table-toast{
  width: 280px;
  height: 76px;
  border-radius: 70px;
  background-color: $blue;
  @include flexbox($align: center, $justify:center);
  box-shadow: 0px 2px 7px -3px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: visible;
  z-index: 501;
  opacity: 1;

  &.disabled{
    visibility: hidden;
    opacity: 0;
    transition: all .2s cubic-bezier(.4,.27,.21,.94);
  }

  span {
    text-align: center;
    max-width: 180px;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: $white;
  }

  svg {
    width: 75px;
    height: 75px;
  }
}
