$font-family-base: 'Roboto';
$body-color: $gray-900;
$bg-color: $gray-1200;
$enable-shadows: false;

$navbar-height: 60px;
$navbar-sm-height: 50px;

$sidebar-width: 330px;

$sidebar-sm-width: 300px;
$sidebar-xs-width: 80vw;

$sidebar-collapsed-width: 55px;
$sidepanel-header-height: 70px;

$enable-gradients: true;