.registration {
  .content {
    min-width: 600px;

    .action-items {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 12px;
        color: $gray-900;
        opacity: 0.8;
        border-top: 1px solid $border-color;
        transition: background-color 0.2s ease-in-out;
        &:last-child {
          border-bottom: 1px solid $border-color;
        }

        svg {
          width: 18px;
        }

        &:hover {
          opacity: 1;
          background-color: rgba(0, 0, 0, 0.058);
        }
      }
    }

  }
}