$orange: #CBA639;
$green: #4caf50;
$blue:  #107fe8;
$danger: #f44336;
$warning: #ff9800;
$success: #019310;
$info: #0747a6;
$cloud-blue: #212a53;
$black: #000;
$white: #fff;
$container: #e8e8e8;
$white-1: #f7f7f7;
$white-2: #f7f7f7;

$primary: $orange;
$secondary: $cloud-blue;

$primary-company: $orange;
$secondary-company: $black;

$primary-employee: $orange;
$secondary-employee: $cloud-blue;

$gray-100: #eceeef;
$gray-200: #dddddd;
$gray-300: #78909c;
$gray-400: #818a91;
$gray-500: #455a64;
$gray-600: #37474f;
$gray-700: #263238;
$gray-800: #424547;
$gray-900: #373a3c;
$gray-1000: #4A4A4A;
$gray-1100: #373a3c;
