$green: #40b258;
$blue: #356eb2;
$danger: #f44336;
$warning: #ff9800;
$success: #019310;
$info: #0747a6;
$black: #000;
$white: #ffffff;
$gray: #f0f1f4;
$container: #e8e8e8;
$orange: #DBBC7C;

$white-1: #f7f7f7;
$white-2: #f7f7f7;

$gray-100: #eceeef;
$gray-200: #dddddd;
$gray-300: #78909c;
$gray-400: #818a91;
$gray-500: #455a64;
$gray-600: #252525;
$gray-700: #909090;
$gray-800: #424547;
$gray-900: #373a3c;
$gray-1000: #4a4a4a;
$gray-1100: #212121;
$gray-1200: #8a8a8a;

$bg-menu: #3a3a3a;

$placeholder-gray: #9ba1a7;

$warning-100: #fff9ef;
$info-100: rgba($blue, 0.03);

$primary: $orange;
$secondary: $gray-900;

$primary-company: $orange;
$secondary-company: $bg-menu;

$primary-employee: $orange;
$secondary-employee: $bg-menu;

$logo-bg: $gray-1100;
